<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:switch="${patients}">
    <h2 th:case="null">No patients yet!</h2>
    <div th:case="*">
        <h2>Patients</h2>
        <table style="border-spacing: 15px; outline: thin solid">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Birth Date</th>
                <th>Gender</th>
                <th>Medical Record</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.email}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.birth_date}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${patient.medical_record}"></td>
                <td><a th:href="@{/patients/edit/{id}(id=${patient.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id} (id=${patient.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/patients/create">Add a new patient</a></p>
</div>
</body>
</html>