<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <div>SUCCESS</div>


  <a th:href="@{/patients/get}" class="btn btn-danger">Return</a>
    </div>
</div>
</body>
</html>